body{
    background: rgb(248, 248, 222);
}

.floating-btn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.social-panel-container {
    position: fixed;
    right: 0;
    bottom: 5rem;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}

.social-panel-container.visible {
    transform: translateX(-10px);
}

.social-panel {
    position: relative;
    height: 10rem;
    width: 23rem;
    max-width: calc(100%-10px);
}

.lab, .las {
    font-size: 2rem;
    color: #2c2c2c;
}